@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary font-body;
  }
}

@layer components {
  .container-page {
    @apply w-full max-w-[1350px] mx-auto px-5;
  }

  /* header-user */
  .block-user::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 15px;
  }

  .signout::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 8px 10px;
    border-color: transparent transparent #fff transparent;
    z-index: 99999999;
  }

  .overlay {
    animation: fadeIn ease-in-out 0.2s;
  }

  .box-modal {
    animation: showFadeIn 0.4s ease;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes showFadeIn {
    0% {
      opacity: 0;
      transform: translateY(-650px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .detail-scroll::-webkit-scrollbar {
    display: none;
  }

  .favorite-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .favorite-list::-webkit-scrollbar {
    display: none;
  }

  .cart-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .cart-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(114, 114, 114, 0.3);
    border-radius: 8px;
  }

  .cart-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(205, 205, 205);
    border-radius: 8px;
  }

  #cart::after {
    content: '';
    border: solid 10px transparent;
    border-top: none !important;
    border-bottom-color: #ffffff;
    position: absolute;
    top: -10px;
    right: 25px;
  }

  /* Toast */
  .toast {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s linear;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .toast {
    border-left: 4px solid;
  }

  .toast + .toast {
    margin-top: 24px;
  }

  .toast.toast--success {
    border-color: #47d864 !important;
  }

  .toast--success .toast__icon {
    color: #47d864;
  }

  .toast.toast--info {
    border-color: #2f86ed !important;
  }

  .toast--info .toast__icon {
    color: #2f86ed;
  }

  .toast.toast--warning {
    border-color: #ffc021 !important;
  }

  .toast--warning .toast__icon {
    color: #ffc021;
  }

  .toast.toast--error {
    border-color: #dd4747 !important;
  }

  .toast--error .toast__icon {
    color: #dd4747;
  }

  /* notifiCart */
  .notifiCart::before {
    content: attr(data-cart);
    font-size: 8px;
    font-weight: 500;
    text-align: right;
    color: white;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #dd4747;
    z-index: 2;
    top: -4px;
    right: -10px;
    border: 2px solid #f6f3e4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
